.mdx-content {
  color: #fff;

  h1, h2, h3, h4, h5, h6 {
    color: #7de7eb;
  }

  a {
    color: #fff;

    &:hover {
      color: #9b9b9b;
    }
  }

  code {
    color: #d9f0ff;
    background-color: #102230;
  }
}